### Set

In [2]:
a=[1,2,3]
setData={"a",1,2,3}
print(setData)

{3, 1, 2, 'a'}

In [6]:
setData.add(6)
print(setData)

{1, 2, 3, 6, 'a'}

In [7]:
# can't add list
# setData.add(a)

TypeError: unhashable type: 'list'

In [3]:
a=[1,2,3]
if 3 in a :
    print('3 in a')
else :
    print('3 not in a')

3 in a

In [11]:
setData1 = {"a",1,2,3}
setData2 = {2,3,5,7}

print(setData1 - setData2)    # different set
print(setData1 | setData2)    # union
print(setData1 & setData2)    # intersection
print(setData1 ^ setData2)    # element not in both

{1, 'a'}
{1, 2, 3, 5, 7, 'a'}
{2, 3}
{1, 5, 7, 'a'}

#### Set comprehension

In [4]:
set1 = {"a",1,2,3}
set2 = {2,3,5,7}
x = {x for x in set1 if x not in set2}
print(x)

{1, 'a'}

#### update & remove

In [8]:
set = {'google','apple','alibaba'}
set.update({'samtech'})
print(set)
set.remove('alibaba')
print(set)
# if element not in the set use remove has error
# set.remove('baidu')
# use discard has no error
set.discard('baidu')
# use pop delete an element randomly

{'google', 'samtech', 'apple', 'alibaba'}
{'google', 'samtech', 'apple'}

#### difference

In [10]:
x = {'apple','google','amazon'}
y = {'baidu', 'google','facebook'}
print(x.difference(y))
print(x)
x.difference_update(y)
print(x)

{'amazon', 'apple'}
{'google', 'amazon', 'apple'}
{'amazon', 'apple'}

### Dictionary

In [1]:
dict1 = {}
dict1['one'] = 1
dict1['two'] = 2
dict1['three'] = 3
print(dict1)
dict2 = {'one': 1, 'two': 2, 'three': 3}
dict3 = dict({'one': 1, 'two': 2, 'three': 3})
dict3 = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
dict4 = dict(one=1, two=2, three=3)
dict5 = dict([('two', 2), ('one', 1), ('three', 3)])
print(dict1==dict2==dict3==dict4==dict5)

{'one': 1, 'two': 2, 'three': 3}
True

In [34]:
# Fibonacci series
    
'''
n=b
m=a+b
a=n
b=m
'''
    
'''
        a  b
round1: 0  1
round2: 1  1
round3: 1  2
round4: 2  3
'''

a, b = 0, 1
while b < 10:
    print(b, end = ',')
    a, b = b, a+b

1,1,2,3,5,8,

In [25]:
# if
age = int(input("your age: "))
print("")
if age < 30:
    print("you still yount")
elif age >= 30:
    print("you're not yount any more")

your age: 18

you still yount

In [50]:
# while
sum = 0;
count = 1;
while count <= 100:
    sum = sum + count;
    count += 1;
print(sum)
print("-------------------")
count = 0
while count < 0:
    print("less than 0")
else:
    print("not less than 0")
print("-------------------")
# for [] or {}
companies = ['alibaba','google','facebook']
for x in companies:
    print(x)
print("-------------------")
# range() exclude the last one
for i in range(10):
    print(i)
print("-------------------")
for i in range(10,13):
    print(i)
print("-------------------")
for i in range(0,10,2):
    print(i)

5050
-------------------
not less than 0
-------------------
alibaba
google
facebook
-------------------
0
1
2
3
4
5
6
7
8
9
-------------------
10
11
12
-------------------
0
2
4
6
8

### Iterator

In [52]:
list = [1,2,3,4]
it = iter(list)
for x in it:
    print(x)

1
2
3
4

#### yield 
> return yield element, and save process info, next time will start it from save point

In [ ]:
def fibonacci(n): # 生成器函数 - 斐波那契
    a, b, counter = 0, 1, 0
    while True:
        if (counter > n): 
            return
        yield a
        a, b = b, a + b
        counter += 1
f = fibonacci(10) # f 是一个迭代器，由生成器返回生成
 
while True:
    try:
        print (next(f), end=" ")
    except StopIteration:
        sys.exit()

# 0 1 1 2 3 5 8 13 21 34 55

In [2]:
# fib
def fib(x):
    if x<2:
        return x
    return fib(x-1)+fib(x-2)

if __name__ == '__main__':
    import time
    begin = time.time()
    print (fib(40))
    end = time.time()
    print (end-begin)

102334155
35.43222236633301

### def
> strings, tuples, numbers is unchangeable

In [14]:
def changeInt(a):
    print("a: ", a)
    a = 10
    print("a after change: ", a)
b = 1
changeInt(b)
print(b)

a:  1
a after change:  10
1

In [70]:
# position could different
def printinfo(name, age):
    print("name: ", name)
    print("age: ",age)
    return
printinfo(age = 10, name = "tom")
age = 100
name = "jack"
print("----------------")
printinfo(age, name)

# default

# def printinfo2(name = "sam", age):
#     print("name: ", name)
#     print("age: ",age)
#     return
# printinfo2(age = 10)  

# SyntaxError: non-default argument follows default argument

print("----------------")
def printinfo2(name = "sam", age = 10):
    print("name: ", name)
    print("age: ",age)
    return
printinfo2()
printinfo2(name="tom")

name:  tom
age:  10
----------------
name:  100
age:  jack
----------------
name:  sam
age:  10
name:  tom
age:  10

#### undecided args
##### *

In [73]:
# * meas var tuple it could be not designated
def printinfo(arg1, *vartuple):
    print("arg1: ", arg1)
    print("arg2: ", vartuple)
printinfo("sam", "tom", "jack")

arg1:  sam
arg2:  ('tom', 'jack')

##### **

In [74]:
# ** means var dic
def printinfo(arg1, **vardict):
    print("arg1: ", arg1)
    print("arg2: ", vardict)
printinfo("sam", age=18, job="engineer")

arg1:  sam
arg2:  {'age': 18, 'job': 'engineer'}

##### var arg in the middle

In [78]:
#  as bellow arg3 should be decleared
def printinfo(arg1, *arg2, arg3):
    print("arg1: ",arg1, ", arg3: ", arg3)
printinfo("sam", arg3 = "tom")

arg1:  sam , arg3:  tom

#### lambda

In [82]:
info = lambda salary, month: salary * month
print("expected salary: ", info(25000, 12))

expected salary:  300000

#### Variable scope

In [83]:
# if local scope want to change global variable need to define as global
age = 18
def changeGlobal():
    global age
    print("global age: ", age)
    age = 28
    print("age after change: ", age)
changeGlobal()
print("what is global age now: ", age)

global age:  18
age after change:  28
what is global age now:  28

In [86]:
# if want to change variable in the enclosing scope
def outer():
    age = 18
    def inner() :
        nonlocal age
        age = 28
        print("inner age: ", age)
    inner()
    print("outer age: ", age)
outer()
print("-------didn't declear nonlocal---------")
def outer():
    age = 18
    def inner() :
        age = 28
        print("inner age: ", age)
    inner()
    print("outer age: ", age)
outer()

inner age:  28
outer age:  28
-------didn't declear nonlocal---------
inner age:  28
outer age:  18

In [87]:
a = 10
def change(a):
    a = a + 1
    print("what is a in the function: ", a)
change(a)
print("what is gloable a: ", a)

what is a in the function:  11
what is gloable a:  10

### data structure

In [31]:
from collections import deque
queue = deque(["tom", "sam", "jack"])
queue.pop()
queue.popleft()
queue.append("JC")
print(queue)


print("------------------------")
stack = [1,2,3]
stack.append(4)
print(stack)
stack.pop()

deque(['sam', 'JC'])
------------------------
[1, 2, 3, 4]

4

In [57]:
# List comprehension
matrix = [    [1, 2, 3, 4],    [5, 6, 7, 8],   [9, 10, 11, 12]]

temp = []
for i in range(4):
    temp.append([row[i] for row in matrix])
print(temp)



temp = []
for i in range(4):
    temp1 =  []
    for row in matrix:
        temp1.append(row[i])
    temp.append(temp1)
print(temp)

print([[row[i] for row in matrix] for i in range(4)])

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [61]:
# del
a = [0,1,2,3,4]
print(a[1:3])
del a[1:3]
print(a)

[1, 2]
[0, 3, 4]

In [64]:
arr = [0,1,2]
for i, v in enumerate(arr):
    print(i, v)

0 0
1 1
2 2

In [70]:
questions = ['name','age','job']
answers = ['sam',18,'engineer']
for q,a in zip(questions, answers):
#     print(q,a)
    print('what is your {0}? It is {1}'.format(q,a))

what is your name? It is sam
what is your age? It is 18
what is your job? It is engineer

In [106]:
# sorted reversed
for i in reversed(range(1,10,2)):
    print(i)
country = ['china', 'japan', 'usa', 'uk', 'brazil', 'china']
for x in sorted(set(country)):
    print(x)

print(set(country))

9
7
5
3
1
brazil
china
japan
uk
usa
{'china', 'uk', 'usa', 'japan', 'brazil'}

>set is unordered, with no repeating elements.

In [ ]:
# dir get all definition
import sys
# dir(sys)

In [133]:
# in and out

table = {'Google': 1, 'Runoob': 2, 'Taobao': 3}
print('Runoob: {Runoob}; Google: {Google}; Taobao: {Taobao}'.format(**table))

table = {'Google': 1, 'Runoob': 2, 'Taobao': 3}
print('Runoob: {0[Runoob]:d}; Google: {0[Google]:d}; Taobao: {0[Taobao]:d}'
      .format(table))

for name, num in table.items():
    print('{0:10} ==> {1:10d}'.format(name, num))

Runoob: 2; Google: 1; Taobao: 3
Runoob: 2; Google: 1; Taobao: 3
Google     ==>          1
Runoob     ==>          2
Taobao     ==>          3

In [134]:
value = ('www.runoob.com', 14)
s = str(value)
print(s)

('www.runoob.com', 14)